.cover__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 11;
  margin: 0; padding: 0;
}


@media screen and (min-width: 1280px) {
  .cover__subtitle {
    width: 382px;
    /*height: 69px; */
    font-size: 1.125em;
    line-height: 1.5;
    bottom: 43px;
    left: calc(50% - 382px / 2);
  }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__subtitle {
     width: 359px;
    /*height: 79px; */
    font-size: 1.125em;
    line-height: 1.5;
    bottom: 42px;
    left: calc(50% - 359px / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__subtitle {
     width: 382px;
    /*height: 80px; */
    font-size: 18px;
    line-height: 26px;
    bottom: 46px;
    left: calc(50% - 382px / 2);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .cover__subtitle {
     width: 343px;
    /*height: 57px; */
    width: 72.4%;
    font-size: 14px;
    line-height: 17px;
    bottom: 24px;
    left: calc(50% - 72.4% / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .cover__subtitle {
     width: 288px;
    /*height: 49px;
    width: 84%; */
    font-size: 14px;
    line-height: 17px;
    left: calc(50% - 288px / 2);
    bottom: 24px;
    
  }
}
