.emblem__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .emblem__title {
     width: 432px;
    /*height: 131px;
    /* width: 443px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 82px; */
    font-size: 2.6em;
    line-height: 1.09;
    margin-bottom: 73px;
    margin-left: 0;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .emblem__title {
    width: 432px;
    /* height: 131px; */
    font-size: 2.6em;
    line-height: 1.09;
    margin-left: 32px;
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .emblem__title {
    /* width: 720px;
    height: 131px; */
    width: 93.7%;
    font-size: 42px;
    line-height: 46px;
    margin-left: 0;
    margin-bottom: 118px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .emblem__title {
    /* width: 343px;
    height: 64px; */
    width: 100%;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .emblem__title {
    /* width: 288px;
    height: 64px; */
    width:100%;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 43px;
  }
}