@import url('../__item/additional__item.css');

.additional__container {
  margin: 0 auto;
}


@media screen and (min-width: 1280px) {
  .additional__container {
    width: 1184px;
      /*height: 330px; */
     display: flex;
     justify-content: space-between;
     margin: 60px auto 0 auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .additional__container {
    width: 100%;
    /*height: 280px; */
    display: flex;
    justify-content: space-between;
    margin: 55px auto 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .additional__container {
    width: 584px; 
    /*height: 676px; */
    display: grid;
    grid-template-columns: repeat(2, 284px);
    grid-template-rows: 330px 330px;
    grid-gap: 16px 16px;
    margin-top: 47px;
  }
}


@media screen and (min-width: 375px) and (max-width: 767px) {
  .additional__container {
    /*width: 284px; 
    height: 1392px; */
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 330px);
    grid-row-gap: 24px;
    margin-top: 44px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .additional__container {
    width: 284px;
    /*height: 1392px; */
  display: grid;
  grid-template-rows: repeat(4, 330px);
  grid-row-gap: 24px;
  margin-top: 44px;
  }
}
