.cover__title {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  color: #fffdfd;
  text-align: center;
  z-index: 11;
  position: absolute;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .cover__title {
     width: 1094.27px;
    font-size: 4.5em;
    line-height: 1.08;
    top: 274px;
    left: calc(50% - 1094.27px / 2);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
     width: 500px;
   /* height: 170px; */
    font-size: 4.5em;
    line-height: 1.08;
    top: calc(50% - 170px/2);
    left: calc(50% - 500px / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
     width: 555px;
     /* height: 170px; 
      width: 93.7%;*/
    font-size: 72px;
    line-height: 78px;
    top: calc(50% - 170px/2);
    left: calc(50% - 555px / 2);
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .cover__title {
     width: 225px;
    /*height: 80px; */
    /* width: 60%; */
    font-size: 32px;
    line-height: 35px;
    top: calc(50% - 80px / 2);
    left: calc(50% - 225px / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .cover__title {
     width: 242px;
    /*height: 72px; */
    font-size: 32px;
    line-height: 35px;
    top: calc(50% - 72px / 2);
    left: calc(50% - 242px / 2);
  }
}
