@import url('../__item/video__item.css');

.video__conteiner {
  display: flex;
  justify-content: space-between;

}

@media screen and (min-width: 1280px) {
  .video__conteiner {
     /* width: 1184px;
   height: 323px; */
   width: 100%;
   margin-top: 62px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .video__conteiner {
     /*width: 928px;
    height: 288px; */
     width: 100%;
     margin-top: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__conteiner {
   /* width: 720px;
     height: 200px; */
     width: 100%;
     margin-top: 47px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .video__conteiner {
    flex-direction: column;
    /*width: 343px;
     height: 408px; */
    width: 100%;
    margin-top: 37px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .video__conteiner {
    flex-direction: column;
    /*width: 288px;
     height: 392px; */
    width: 100%;
    margin-top: 29px;
  }
}
